.navbar-custom {
  background-color: #4b2e21 !important;
}

.navbar-custom .navbar-brand {
  color: #fd7f4f !important;
  text-shadow: 1px 5px 5px rgba(0,0,0,0.6);
}

.navbar-custom .nav-link {
  color: white !important;
}

.navbar-custom .nav-link.active {
  color: #fd7f4f !important;
}
